
name: ci workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  azuresqlsecret: ${{ secrets.AzureSqlSecret }}
  mssqlpassword: sysadmin@1234
  mssqldb: asynchandler
  mssqlsecret: "Server=localhost,1433;Initial Catalog=${{ env.mssqldb }};Persist Security Info=False;User ID=sa;Password=${{ env.mssqlpassword }};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=true;Connection Timeout=20;"

jobs:
  
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src

    steps:
    - name: checkout repo
      uses: actions/checkout@v4
    
    - name: Install sdk
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

  test:
    if: ${{ success() }}
    needs: build
    runs-on: ubuntu-latest

    services:
      mssql:
        image: mcr.microsoft.com/mssql/server
        ports:
          - 1433:1433
        env:
          ACCEPT_EULA: true
          MSSQL_SA_PASSWORD: ${{ env.mssqlpassword }}

    steps:
    - uses: actions/checkout@v4

    - name: Run scripts
      run: ./scripts.sh

    - name: Test
      working-directory: ./src
      run: |
        dotnet build
        dotnet test --no-build --verbosity normal

    
